<!doctype html>
<html class="h-100" lang="{{ $.Site.Language.Lang }}">

    {{ partial "head" . }}

    <body class="h-100">
        <a href="#main" class="sr-only-focusable skippy">Skip to main content</a>
        <div class="hb-shell d-flex flex-column h-100">
            <div class="flex-grow-1">
                {{ block "main" . }} {{end}}
            </div>

            {{ block "footer" . }}{{ partial "footer" . }}{{end}}

            {{ $script := .Site.Data.webpack.main }}
            {{ with $script.js }}
                <script src="{{ relURL . }}"></script>
            {{ end }}
        </div>

    </body>

</html>
