{{ define "main" }}
<div class="container-fluid p-0">
    <main aria-role="main" id="main">
        <div class="row g-0">
            <div class="hb-sidebar">
                {{ partial "sidebar" . }}
            </div>
            <div class="col-md hb-main">
                <div class="hero">
                    <div class="px-4 px-md-8">
                        <h1>
                            {{.Title}}
                        </h1>
                        <p>
                            {{.Params.subtitle}}
                        </p>
                    </div>
                </div>

                <div class="content">
                    <div class="px-4 px-md-8 py-5">
                        <div>
                            {{.Content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{{ end }}
