{{ define "main" }}
<div class="container-fluid p-0">
    <main aria-role="main" id="main">
        <div class="row g-0">
            <div class="hb-sidebar">
                {{ partial "sidebar" . }}
            </div>
            <div class="col-md hb-main" id="main">
                <div class="hero hero-primary px-5 py-4">
                    <div class="row align-items-center">
                        <div class="col-lg my-2">
                            <h1 class="m-0">
                                {{ .Title }}
                            </h1>
                        </div>

                        {{ partial "link-bootstrap" . }}

                    </div>
                </div>
                <div class="px-5 px-md-6 py-5">
                    <div class="row g-0 flex-lg-row-reverse">
                        {{ if (eq .Page.Params.toc true) }}
                        <div class="d-none d-xl-block col-xl-3 pl-xl-5">
                            <div class="hb-toc">
                                <strong class="d-block h5 py-2 border-bottom">On this page</strong>
                                {{ .TableOfContents }}
                            </div>
                        </div>
                        {{ end }}

                        <div class="hb-content col-lg">
                            <p class="hb-lead lead mb-5 pb-3">
                                {{ .Description }}
                            </p>

                            {{ .Content }}

                            {{ partial "link-demo" . }}
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
{{ end }}
