/**
 * Components > Accordion
 */

.accordion {
    @include accordion-size($accordion-padding-x, $accordion-padding-y, $font-size-base);
}

.accordion-item {
    margin-bottom: map-get($spacers, 2);
    margin-top: map-get($spacers, 2);
}

.accordion-trigger {
    text-align: left;
    width: 100%;
}

.accordion-trigger.collapsed .accordion-icon {
    transform: rotate(180deg);
}

.accordion-icon {
    margin-left: map-get($spacers, 3);
}

.accordion-header {
    align-items: flex-start;
    display: flex;
}

.accordion-heading {
    flex-grow: 1;
}


// Variants

.accordion-primary {
    @include accordion-variant($primary, $accordion-border-width, $accordion-border-radius);
}

.accordion-light {
    @include accordion-variant($gray-200, $accordion-border-width, $accordion-border-radius);
}

.accordion-minimal {
    @include accordion-variant($white, $accordion-border-width, 0, $gray-400);
}



// Sizing

.accordion-lg {
    @include accordion-size($accordion-padding-x-lg, $accordion-padding-y-lg, $font-size-md);
}

.accordion-sm {
    @include accordion-size($accordion-padding-x-sm, $accordion-padding-y-sm, $font-size-sm);
}
