/**
 * Components > Hero
 */

.hero {
    @include hero();
}

.hero-primary {
    @include hero-variant($primary);
}

.hero-light {
    @include hero-variant($gray-200);
}

.hero-my-modifier {
    background-image: url('https://picsum.photos/id/153/1600/700');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $yellow;
    padding-bottom: 200px;
    padding-top: 88px;
}

