/**
 * Components > Hero
 */

.hero {
    @include padding-bottom($hero-padding-y);
    @include padding-top($hero-padding-y);
    background-color: $primary;
    background-size: cover;
    box-shadow: inset 0 -6px 0 0 $blue-700;
    color: color-contrast($primary);
}
