/**
 * Components > Offer
 */

.offer {
}

.offer-body {
    background-color: $white;
    box-shadow: $box-shadow;
}

.offer-header {
    padding: $offer-padding-y $offer-padding-x;
}

.offer-torso {
    padding: $offer-padding-y $offer-padding-x;
}

.offer-heading {
    @include font-size(1.375rem);
}

.offer-subheading {
    color: $blue-900;
    font-weight: $font-weight-bold;
}

.offer-footer {
    padding: $offer-padding-y $offer-padding-x;
}

.offer-icons {
    margin-bottom: map-get($spacers, 4);
}

.offer-features {
    margin-bottom: map-get($spacers, 4);
}

.offer-standout {
    background-color: $offer-standout-bg;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color: color-contrast($offer-standout-bg);
    font-size: $font-size-sm;
    text-align: center;
}
