// Utilities: text

.font-size-xs {
    font-size: $font-size-xs !important;
}

.font-size-sm {
    font-size: $font-size-sm !important;
}

.font-size-lg {
    font-size: $font-size-lg !important;
}

.font-weight-boldest {
    font-weight: $font-weight-boldest !important;
}
