@each $color, $value in map-merge($colors, ('gray-500': $gray-500)) {
    .swatch-#{$color} {
        background-color: #{$value};
        color: color-contrast($value);
        &::after {
            $contrast-ratio: '#{contrast-ratio($value, color-contrast($value))}';
            $against-white: '#{contrast-ratio($value, $white)}';
            $against-black: '#{contrast-ratio($value, $black)}';
            background-color: $value;
            background-image:
                linear-gradient(
                    to bottom,
                    transparent 0.25rem,
                    color-contrast($value) 0.25rem 0.75rem,
                    transparent 0.75rem 1.25rem,
                    $white 1.25rem 1.75rem,
                    transparent 1.75rem 2.25rem,
                    $black 2.25rem 2.75rem,
                    transparent 2.75rem
                );
            background-repeat: no-repeat;
            background-size: 0.5rem 100%;
            content:
                str-slice($contrast-ratio, 1, 4) '\A'
                str-slice($against-white, 1, 4) '\A'
                str-slice($against-black, 1, 4);
            font-size: 0.75rem;
            line-height: 1.35;
            padding-left: 1rem;
            position: absolute;
            right: 1rem;
            top: 1rem;
            white-space: pre;
        }
    }
}
