/**
 * Handbook
 *
 * Sidebar
 * Main content
 * Table of contents
 */


 // Sidebar
.hb-logo {
    max-width: 150px;
}

.hb-sidebar {
    background-color: $gray-100;
    top: 0;
    @include media-breakpoint-up(md) {
        border-right: 1px solid darken(#f8f9fa, 10%);
        flex: 0 0 #{$sidebar-width};
        max-width: #{$sidebar-width};
        height: calc(100vh - #{$footer-height});
        position: sticky;
    }
}

.hb-link-active {
    color: $gray-700;
    font-weight: $font-weight-bolder;
}


// Main content
.hb-main {
    @include media-breakpoint-up(md) {
        max-width: calc(100% - 220px);
    }
}

.hb-content {
    min-width: 0;
    > h2:not(:first-child) {
        margin-top: 2.5rem;
    }

    > h3 {
        margin-top: 1.75rem;
    }
}

.hb-lead {
    color: $gray-700;
    max-width: 800px;
    position: relative;
    &::before {
        background-color: $gray-300;
        bottom: 0;
        content: '';
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 250px;
    }
}

.hb-demo-link {
    margin-top: 3rem;
}

.hb-example {
    border: 1px solid $gray-300;
    padding: 1rem;
}

.hb-footer {
    background-color: $gray-800;
    height: $footer-height;
}


// Table of Contents
.hb-toc {
    @include media-breakpoint-up(xl) {
        position: sticky;
        top: 2rem;
        right: 0;
        z-index: 2;
        overflow-y: auto;
    }

    nav {
        @include font-size(.875rem);

        ul {
            padding-left: 0;
            list-style: none;

        }

        ul ul {
            padding-left: 1rem;
            margin-top: .25rem;
        }

        li {
            margin-bottom: .25rem;
        }

        a {
            color: $blue-400;
        }
    }
}
